<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rumah">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rumah">
        <activity
            android:name=".daftarRumah"
            android:exported="false" />
        <activity
            android:name=".updateRumah"
            android:exported="false" />
        <activity
            android:name=".otpDialog"
            android:exported="false" />
        <activity
            android:name=".kodeOtp"
            android:exported="false" />
        <activity
            android:name=".iklanRumah"
            android:exported="false" />
        <activity
            android:name=".dashboardPembeli"
            android:exported="false" />
        <activity
            android:name=".Regist"
            android:exported="false" />
        <activity
            android:name=".dashboardAdmin"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="true" />
        <activity
            android:name=".splash"
            android:exported="true"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>